.burger_constructor {
    width: 600px;
    padding-top: 100px;
    padding-left: 56px;

}

.content {
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 10px;
    height: 620px;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    padding: 10px 10px 10px 0;
}

.content_element {
    width: 100%;
    display: flex;
    align-items: center;
}

.order_info {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 106px;
    display: flex;
    justify-content: flex-end;
}

.price_container {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.price {
    padding-right: 10px;
}