.container {
    padding-top: 120px;
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link {
    text-decoration: none;
    height: 64px;
    color: #8585AD;
    cursor: pointer;
}

.link_active {
    color: #F2F2F3;
}

.description {
    text-align: left;
}