.container {
    display: flex;
    flex-direction: column;
    background: #1C1C21;
    width: 720px;
    z-index: 1;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 2%;
}

.header {
    display: flex;
    width: 91%;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
}

.button {
    position: absolute;
    right: 50px;
    top: 50px;
}